## Setup

In [1]:
# Connect using pyodbc, sqlalchemy, and pandas
import sqlalchemy
import numpy as np
import pandas as pd

server = "sqlsvr-0092-mdp-02.85f8a2f57eaf.database.windows.net"
database = "Staging"
username = "pisrc-inkoo"
password = input("Enter database password: ")
driver = "ODBC Driver 17 for SQL Server"

engine = sqlalchemy.create_engine(
    f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver.replace(' ', '+')}"
)


def query_db(query, params=None):
    return pd.read_sql(query, engine, params=params)


df = query_db("SELECT @@version;")
print(df[""][0])

Microsoft SQL Azure (RTM) - 12.0.2000.8
	Sep 30 2022 04:45:23
	Copyright (C) 2022 Microsoft Corporation

# Binge Experience & PDF Analytics

In [3]:
# Columns of interest
query_db(
    """
    SELECT TOP 20
        SessionVisitorId,
        VisitStartDateTime,
        EventList,
        PageURL,
        PageName,
        EloquaContactId,
        UTM_Source,
        UTM_Medium,
        UTM_Campaign,
        UTM_Content,
        UTM_Term
        BingeId,
        BingeName,
        BingeCampaignId,
        BingeCriticalScore,
        BingeScoredAsset,
        BingeScoredAssetPath,
        BingeScoredAssetScore,
        PDFurl,
        PDFtitle,
        PDFpagecount
    FROM aem.RawTraffic
    WHERE VisitStartDateTime > '2022-06-15'
        AND BingeId <> '';
    """
)

,SessionVisitorId,VisitStartDateTime,PageURL,PageName,EloquaContactId,UTM_Source,UTM_Medium,UTM_Campaign,UTM_Content,BingeId,BingeName,BingeCampaignId,BingeCriticalScore,BingeScoredAsset,BingeScoredAssetPath,BingeScoredAssetScore,PDFurl,PDFtitle,PDFpagecount
0,583719550121999618_121251133910496911,2022-06-15 01:35:17,https://www.rockwellautomation.com/search/ra-z...,rockwellautomation:search,,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,/content/dam/rockwell-automation/sites/downloa...,null,121
1,7155208166619660672_5588629153287961608,2022-06-15 09:03:27,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,/content/dam/rockwell-automation/sites/downloa...,"Getting Started in IAB (85 minutes, 121 pages)",121
2,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
3,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
4,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
5,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
6,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
7,4405954664442376543_7269107232429611232,2022-06-15 11:46:18,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
8,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
9,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
10,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
11,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
12,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
13,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
14,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
15,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
16,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
17,4405954664442376543_7269107232429611232,2022-06-15 13:41:42,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000000213285,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
18,8099827065822047321_106889044605998537,2022-06-15 15:00:36,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000014727216,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,
19,8099827065822047321_106889044605998537,2022-06-15 15:00:36,https://www.rockwellautomation.com/search/ra-e...,rockwellautomation:search,CRACP000014727216,,,,,,Basic Functionality Labs,builder_labs,5.0,,,,,,

# Lead Status

In [4]:
# ra_leadstage possible values
query_db(
    """
    SELECT DISTINCT
        ra_leadstage,
        ra_leadstagename
    FROM crm.Lead
    ORDER BY ra_leadstage;
    """
)

   ra_leadstage              ra_leadstagename
0           NaN                          None
1           1.0                    Unassigned
2           2.0      Awaiting Tele Acceptance
3           3.0   Awaiting Tele Qualification
4           4.0     Awaiting Sales Acceptance
5           5.0  Awaiting Sales Qualification
6           6.0              Distributor Lead
7           7.0                     Qualified
8           8.0                 External Lead

In [5]:
# statecode possible values
query_db(
    """
    SELECT DISTINCT
        statecode,
        statecodename
    FROM crm.Lead
    ORDER BY statecode;
    """
)

   statecode statecodename
0          0          Open
1          1     Qualified
2          2  Disqualified

In [7]:
# Get latest lead status
query_db(
    """
    SELECT TOP 5
        c1.emailaddress1,
        c1.ra_leadstage,
        c1.ra_leadstagename,
        c1.statecode,
        c1.statecodename,
        c1.statuscode,
        c1.statuscodename
    FROM crm.Lead AS c1
    INNER JOIN (
        SELECT
            emailaddress1,
            MAX(createdon) AS createdon
        FROM crm.Lead
        GROUP BY emailaddress1
    ) AS c2
    ON c1.emailaddress1 = c2.emailaddress1
        AND c1.createdon = c2.createdon;
    """
)

,emailaddress1,ra_leadstage,ra_leadstagename,statecode,statecodename,statuscode,statuscodename
0,sherman.wagner@silganpfc.com,4,Awaiting Sales Acceptance,0,Open,1,New
1,miguel.chavez2@sbdinc.com,4,Awaiting Sales Acceptance,0,Open,1,New
2,jpierce@wlgore.com,5,Awaiting Sales Qualification,2,Disqualified,953810014,Duplicate Lead
3,timothy.smith@adient.com,4,Awaiting Sales Acceptance,0,Open,1,New
4,johnpatrick@rdm.net,4,Awaiting Sales Acceptance,0,Open,1,New

# Joins

In [3]:
# aem.RawTraffic: provides analytics data (key: EloquaContactID)
# crm.Lead: provides lead status (key: emailaddress1)
# elq.Contact: links the other two together (has both EloquaContactId and EmailAddress)

df = query_db(
    """
    WITH cl AS (
        SELECT
            c1.emailaddress1,
            c1.ra_leadstage,
            c1.statecode
        FROM crm.Lead AS c1
        INNER JOIN (
            SELECT
                emailaddress1,
                MAX(createdon) AS createdon
            FROM crm.Lead
            GROUP BY emailaddress1
        ) AS c2
        ON c1.emailaddress1 = c2.emailaddress1
            AND c1.createdon = c2.createdon
    )

    SELECT DISTINCT
        ec.EmailAddress,
        cl.ra_leadstage,
        ar.BingeId,
        ar.BingeName,
        ar.BingeCampaignId,
        ar.BingeCriticalScore,
        ar.BingeScoredAsset,
        ar.BingeScoredAssetPath,
        ar.BingeScoredAssetScore
    FROM
        aem.RawTraffic AS ar,
        cl,
        elq.Contact AS ec
    WHERE ar.EloquaContactId = ec.EloquaContactId
        AND cl.emailaddress1 = ec.EmailAddress
        AND ar.VisitStartDateTime > '2022-06-12'
        AND ar.BingeId <> '';
    """
)
df.to_csv("binge_leads_2022_09_28.csv")
df

,EmailAddress,ra_leadstage,BingeId,BingeName,BingeCampaignId,BingeCriticalScore,BingeScoredAsset,BingeScoredAssetPath,BingeScoredAssetScore
0,alec.stull@cmcmaterials.com,5,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
1,alex.fonseca@ingredion.com,5,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
2,andrewbriones@kennedyjenks.com,3,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
3,arosa@bama.com,5,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
4,arturo.quispe@incontrolgroup.com,4,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
...,...,...,...,...,...,...,...,...,...
65,Timothy.Crane@CarlisleCCM.com,2,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,"Getting Started in IAB (85 minutes, 121 pages)",/content/dam/rockwell-automation/sites/downloa...,1
66,Timothy.Crane@CarlisleCCM.com,2,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,"Using the Architecture View (30 minutes, 38 pa...",/content/dam/rockwell-automation/sites/downloa...,1
67,tisha.lane@adaptecsolutions.com,4,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
68,win_tsai@solomon.com.tw,5,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,
69,zkitt@brfoods.com,2,be1650550449644850,Basic Functionality Labs,builder_labs,5.0,,,

In [2]:
query_db(
    """
    SELECT DISTINCT ec.EmailAddress
    FROM
        aem.RawTraffic AS ar,
        elq.Contact AS ec
    WHERE ar.EloquaContactId = ec.EloquaContactId
        AND ar.VisitStartDateTime > '2022-06-12'
        AND ar.BingeId <> '';
    """
)

                            EmailAddress
0                   atanvir@mcg-pyle.com
1     cristobal.escoto@ecnautomation.com
2             emanueljmascotto@gmail.com
3              juancarlos.chavez@brp.com
4                krosberg@plusgroups.com
5                    ksydness@ifpusa.com
6            lujones@rapiscansystems.com
7             malvarez@kuehnecompany.com
8          mandar.parashare@tetrapak.com
9               mansour.eletreby@ecam.fr
10         matheus.carvalhostz@gmail.com
11               MEALVES@RA.ROCKWELL.COM
12  Shahid.Solkar@rockwellautomation.com
13               win_tsai@solomon.com.tw
14              WSANCHES@RA.ROCKWELL.COM

In [6]:
# Columns of interest
df = query_db(
    """
    SELECT TOP 20
        PageURL,
        PageName,
        EloquaContactId,
        BingeId,
        BingeName,
        BingeCampaignId,
        BingeCriticalScore,
        BingeScoredAsset,
        BingeScoredAssetPath,
        BingeScoredAssetScore,
        PDFurl,
        PDFtitle,
        PDFpagecount
    FROM aem.RawTraffic
    WHERE VisitStartDateTime > '2022-06-15'
        AND BingeId <> ''
        AND PageName <> 'rockwellautomation:search'
    """
)
df.to_csv("binge_data.csv")

In [12]:
df = query_db(
    """
    SELECT DISTINCT
        BingeId,
        BingeName,
        BingeScoredAsset,
        BingeScoredAssetPath,
        BingeScoredAssetScore
    FROM aem.RawTraffic
    WHERE VisitStartDateTime >= '2022-06-01'
    """
)
df.to_csv("binge_assets.csv")
df

,BingeId,BingeName,BingeScoredAsset,BingeScoredAssetPath,BingeScoredAssetScore
0,,,Electric Vehicles And Smart Manufacturing - A ...,/content/dam/rockwell-automation/sites/downloa...,2
1,,,"Project Design Assistant (30 minutes, 30 pages)",/content/dam/rockwell-automation/sites/downloa...,1
2,be1650550449644850,Basic Functionality Labs,"Export a BOM to ProposalWorks (20 minutes, 25 ...",/content/dam/rockwell-automation/sites/downloa...,1
3,be1650550449644850,Basic Functionality Labs,"Using the Architecture View (30 minutes, 38 pa...",/content/dam/rockwell-automation/sites/downloa...,1
4,be1654108452838784,The Race to Electric Vehicle Production is Here,Electric Vehicles And Smart Manufacturing - A ...,/content/dam/rockwell-automation/sites/downloa...,2
5,be1650550449644850,Basic Functionality Labs,,,
6,be1650550449644850,Basic Functionality Labs,"Getting Started in IAB (85 minutes, 121 pages)",/content/dam/rockwell-automation/sites/downloa...,1
7,,,"Getting Started in IAB (85 minutes, 121 pages)",/content/dam/rockwell-automation/sites/downloa...,1
8,None,None,None,None,None
9,,,,,
10,,,"Using the Architecture View (30 minutes, 38 pa...",/content/dam/rockwell-automation/sites/downloa...,1
11,,,"Export a BOM to ProposalWorks (20 minutes, 25 ...",/content/dam/rockwell-automation/sites/downloa...,1

In [10]:
df = query_db(
    """
    SELECT DISTINCT
        PageURL,
        BingeId,
        BingeName
    FROM aem.RawTraffic
    WHERE VisitStartDateTime >= '2022-06-01'
    AND BingeId <> ''
    """
)
df.to_csv("binge_pages.csv")
df

,PageURL,BingeId,BingeName
0,https://locator.rockwellautomation.com/,be1650550449644850,Basic Functionality Labs
1,https://locator.rockwellautomation.com/,be1654108452838784,The Race to Electric Vehicle Production is Here
2,https://locator.rockwellautomation.com/Distrib...,be1650550449644850,Basic Functionality Labs
3,https://locator.rockwellautomation.com/SalesOf...,be1650550449644850,Basic Functionality Labs
4,https://locator.rockwellautomation.com/SalesOf...,be1650550449644850,Basic Functionality Labs
5,https://locator.rockwellautomation.com/systemi...,be1650550449644850,Basic Functionality Labs
6,https://locator.rockwellautomation.com/Technology,be1650550449644850,Basic Functionality Labs
7,https://locator.rockwellautomation.com/Technol...,be1650550449644850,Basic Functionality Labs
8,https://www.rockwellautomation.com/search/ra-e...,be1650550449644850,Basic Functionality Labs
9,https://www.rockwellautomation.com/search/ra-e...,be1650550449644850,Basic Functionality Labs
10,https://www.rockwellautomation.com/search/ra-e...,be1654108452838784,The Race to Electric Vehicle Production is Here
11,https://www.rockwellautomation.com/search/ra-e...,be1650550449644850,Basic Functionality Labs
12,https://www.rockwellautomation.com/search/ra-p...,be1650550449644850,Basic Functionality Labs
13,https://www.rockwellautomation.com/search/ra-z...,be1650550449644850,Basic Functionality Labs

In [13]:
df = query_db(
    """
    SELECT DISTINCT
        EloquaContactId,
        BingeId,
        BingeName
    FROM aem.RawTraffic
    WHERE VisitStartDateTime >= '2022-06-01'
    AND BingeId <> ''
    """
)
df.to_csv("binge_visitors.csv")
df

,EloquaContactId,BingeId,BingeName
0,CRACP000015821975,be1650550449644850,Basic Functionality Labs
1,CRACP000015792782,be1650550449644850,Basic Functionality Labs
2,,be1654108452838784,The Race to Electric Vehicle Production is Here
3,CRACP000015824307,be1650550449644850,Basic Functionality Labs
4,CRACP000014727216,be1650550449644850,Basic Functionality Labs
5,CRACP000015557611,be1650550449644850,Basic Functionality Labs
6,CRACP000015821031,be1650550449644850,Basic Functionality Labs
7,CRACP000012736740,be1650550449644850,Basic Functionality Labs
8,CRACP000015738365,be1650550449644850,Basic Functionality Labs
9,CRACP000015716018,be1650550449644850,Basic Functionality Labs
10,CRACP000000213285,be1650550449644850,Basic Functionality Labs
11,CRACP000000218618,be1650550449644850,Basic Functionality Labs
12,,be1650550449644850,Basic Functionality Labs
13,CRACP000000774122,be1650550449644850,Basic Functionality Labs

In [17]:
df = query_db(
    """
    SELECT DISTINCT
        EloquaContactId,
        BingeScoredAsset
    FROM aem.RawTraffic
    WHERE VisitStartDateTime >= '2022-06-01'
        AND BingeId <> ''
    ORDER BY EloquaContactId
    """
)
df

      EloquaContactId                                   BingeScoredAsset
0                      Using the Architecture View (30 minutes, 38 pa...
1                      Export a BOM to ProposalWorks (20 minutes, 25 ...
2
3                      Electric Vehicles And Smart Manufacturing - A ...
4   CRACP000000213285
5   CRACP000000218618
6   CRACP000000774122     Getting Started in IAB (85 minutes, 121 pages)
7   CRACP000000774122
8   CRACP000012736740
9   CRACP000014727216
10  CRACP000015557611
11  CRACP000015716018
12  CRACP000015738365
13  CRACP000015792782
14  CRACP000015821031
15  CRACP000015821975
16  CRACP000015824307

In [3]:
# df = query_db(
#     """
#     SELECT
#         SessionVisitorId,
#         VisitStartDateTime,
#         EventList,
#         PageURL,
#         PageName,
#         EloquaContactId,
#         BingeId,
#         BingeName,
#         BingeCampaignId,
#         BingeCriticalScore,
#         BingeScoredAsset,
#         BingeScoredAssetPath,
#         BingeScoredAssetScore,
#         PDFurl,
#         PDFtitle,
#         PDFpagecount
#     FROM aem.RawTraffic
#     WHERE VisitStartDateTime > '2022-01-16'
#         AND BingeId <> '';
#     """
# )

df = query_db(
    """
SELECT [SessionVisitorId], [VisitStartDateTime], [UploadedAt], [BingeId], [BingeName], [BingeScoredAssetPath], [EloquaContactId]
FROM [Staging].[aem].[RawTraffic]
WHERE VisitStartDateTime > '2022-04-21' AND BingeId <> ''
ORDER BY VisitStartDateTime DESC
    """
)
df.to_csv("aemRaw-2022-04-21.csv")
# print("from", df.VisitStartDateTime.min(), " ===> to ===> ", df.VisitStartDateTime.max())

from 2022-11-15 20:22:51  ===> to ===>  2022-11-17 05:59:56

In [8]:
df = query_db(
    """
    SELECT *
    FROM aem.RawTraffic
    WHERE VisitStartDateTime > '2022-06-12'
        AND SessionVisitorId LIKE '402319239204006%';
    """
)
df

Empty DataFrame
Columns: [SessionVisitorId, VisitStartDateTime, VisitPageNumber, VisitNumber, NewVisit, EventList, ExcludeHit, HitSource, DateTime_UTC, PageURL, PageName, VisitReferrer, VisitReferrerType, VisitorDomain, IPaddress, Language, PageType, ContentType, UTM_Source, UTM_Medium, UTM_Campaign, UTM_Content, UTM_Term, VideoName, FileDownload, FileType, FileCategory, GatedContentURL, GatedContentFormType, GatedContentFormName, External_Id, External_Company, External_Audience, External_AudienceSegment, External_Address, External_City, External_StateProv, External_PostalCode, External_Country, External_Industry, External_SubIndustry, External_SIC, External_Website, External_BusPhone, External_NAICS, EloquaContactId, EloquaGUID, mcvisid, GeoCity, GeoCountry, GeoDMA, GeoRegion, GeoPostalCode, Post_PostalCode, Post_PageName, Post_PageURL, UploadedAt, PDFurl, PDFtitle, PDFpagecount, BingeId, BingeName, BingeCriticalScore, BingeCampaignId, BingeScoredAsset, BingeScoredAssetPath, BingeScoredAssetScore]
Index: []

[0 rows x 67 columns]

In [9]:
df = query_db(
    """
    SELECT *
    FROM [Staging].[crm].[Lead]  
    """
)
df.to_csv("crm_Lead_20221116_all.csv")
df

,accountid,accountidname,address1_addressid,address1_addresstypecode,address1_addresstypecodename,address1_city,address1_country,address1_county,address1_fax,address1_latitude,...,transactioncurrencyid,transactioncurrencyidname,utcconversiontimezonecode,websiteurl,owningbusinessunitname,ra_integrationsource,ra_integrationsourcename,ra_externalrecordid,ra_externalreroute,ra_externalreroutename
0,None,None,865286E1-4E0E-4F9C-BDC7-14FA231A5529,1,Default Value,Milwaukee,USA,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,NA - SOUTHWEST,None,None,None,NaN,None
1,None,None,A650131C-38D5-4C8B-A180-A362BECE88A7,1,Default Value,Chomphon,TH /,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,AP,None,None,None,NaN,None
2,None,None,E8CFA10C-52DF-489E-A977-702231CD514F,1,Default Value,None,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,NA - SOUTHWEST,None,None,None,NaN,None
3,None,None,DBA40E91-AFE7-46AB-BF13-012A87408A54,1,Default Value,None,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,NA - CENTRAL,None,None,None,NaN,None
4,None,None,7220A63F-86E9-4D0B-9BDE-F7C0C9E58743,1,Default Value,None,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,NA - CENTRAL,None,None,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254485,None,None,F39C3292-C527-47BC-98BB-39C2CD526A53,1,Default Value,None,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,AP,None,None,None,NaN,None
254486,None,None,E03140FC-7D02-4E78-88F8-F508442BBC5E,1,Default Value,Dalat City,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,AP,None,None,None,NaN,None
254487,None,None,4D541AD8-B2DE-42EC-9E9E-34959B93DA5F,1,Default Value,ORLEANS,FR /,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,EMEA,None,None,None,NaN,None
254488,None,None,11A31F75-8D21-4149-B52B-270B6A9DB807,1,Default Value,Singapore,Singapore,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,AP,None,None,None,NaN,None
254489,None,None,283F71AD-888E-41F9-B39B-746746DC516E,1,Default Value,None,None,None,None,None,...,2F283B3B-EA62-E611-80E0-C4346BAC8A9C,Dollar,None,None,AP,None,None,None,NaN,None

In [6]:
df = query_db(
    """
SELECT COUNT(*)  FROM [Staging].[crm].[Lead]  
    """
)
df

0  254490

In [24]:
df = query_db(
    """
WITH CTE_DatesTable
AS
(
  SELECT CAST('20220725' as datetime) AS [date]
  UNION ALL
  SELECT DATEADD(dd, 1, [date])
  FROM CTE_DatesTable
  WHERE DATEADD(dd, 1, [date]) <= '20220727'
)

SELECT *
FROM CTE_DatesTable
LEFT OUTER JOIN aem.RawTraffic AS ar ON CAST(ar.VisitStartDateTime as datetime) = CTE_DatesTable.date
    """
)
df

,date,SessionVisitorId,VisitStartDateTime,VisitPageNumber,VisitNumber,NewVisit,EventList,ExcludeHit,HitSource,DateTime_UTC,...,PDFurl,PDFtitle,PDFpagecount,BingeId,BingeName,BingeCriticalScore,BingeCampaignId,BingeScoredAsset,BingeScoredAssetPath,BingeScoredAssetScore
0,2022-07-25,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2022-07-26,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2022-07-27,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [33]:
df = query_db(
    """
WITH CTE_DatesTable
AS
(
  SELECT CAST('20220725' as datetime) AS [date]
  UNION ALL
  SELECT DATEADD(dd, 1, [date])
  FROM CTE_DatesTable
  WHERE DATEADD(dd, 1, [date]) <= '20220727'
)

SELECT *
FROM aem.RawTraffic AS ar
LEFT JOIN CTE_DatesTable ON CTE_DatesTable.date = CAST(ar.VisitStartDateTime as datetime)

    """
)
df

In [6]:
df = query_db(
    """
	SELECT [EloquaContactId],[EmailAddress]
	FROM [Staging].[elq].[Contact]
    """
)
df.to_csv("elq_all_bridge-only.csv")

df

,EloquaContactId,DateCreated,DateModified,EmailAddress,FirstName,LastName,Company,Address1,Address2,City,...,DCRMAccountId,DCRMContactId,MAPCRMAccountId,MAPCRMContactId,WeChatId,WeChatSubscribe,WeChatSource,IsFreeEmailProvider,IsDeleted,BouncebackDate
0,CRACP000016070081,2022-11-17 00:53:52.180,2022-11-17 01:00:26.967,dmitri.a.platonov@gmail.com,Dmitir,Platonov,Ladderalogix,None,None,None,...,None,None,None,None,None,None,None,None,N,None
1,CRACP000015989563,2022-10-03 14:54:09.797,2022-11-17 01:00:19.800,markm@dmwcc.com,Mark,McCrindle,Dearborn Mid-West Company,20334 Superior Road,None,Taylor,...,None,None,None,None,None,None,None,None,N,None
2,CRACP000016070080,2022-11-17 00:52:40.780,2022-11-17 01:00:10.380,engmecess@gmail.com,Eduardo,Santos,nao existe,None,None,None,...,None,None,None,None,None,None,None,None,N,None
3,CRACP000015968364,2022-09-21 18:48:24.667,2022-11-17 01:00:06.347,Mo@Dynamicacuity.com,Maureen,Hurley,Dynamicacuity,19 Blunt Dr,None,Mexico,...,0C172876-3D3C-ED11-9DB0-000D3A4D8074,8B4CF3D4-AA3C-ED11-9DB0-000D3A4D842A,None,None,None,None,None,None,N,None
4,CRACP000003988036,2014-05-12 17:51:23.173,2022-11-17 01:00:06.347,mnavarro@jbssinc.com,Miguel,Navarro,"John B. Sanfilippo & Son, Inc",1703 N. Randall Rd,None,Elgin,...,9AAC7BD1-17E7-E611-80F2-FC15B428DA60,2D7ECCD8-C21A-E711-80F5-FC15B4282DD8,DE60B667-D1B5-E211-ADD7-78E3B5166060,FB4A4AF3-B760-E711-B85B-78E3B5166060,None,None,None,None,N,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,CRACP000015239678,2020-12-10 22:30:06.130,2022-11-12 12:05:49.487,Sergey.Karpov@kraftheinz.com,Sergey,Karpov,Ivanovsky Kombinat Detskogo Pitaniya,Ul. 11 Sosnetskay Street,Building 99,Ivanovo,...,6FA37330-343B-EB11-A813-000D3A8A4B06,D89CA844-343B-EB11-A813-000D3A8A4B06,AD918EDC-5945-EB11-9FDD-000D3AEC51C1,1B7BF787-C145-EB11-9FDD-000D3AEC51C1,None,None,None,None,N,None
999996,CRACP000015464958,2021-07-20 08:19:36.347,2022-11-12 12:05:48.907,ferenc.levai@evopro.hu,Ferenc,LÃ©vai,evopro systems engineering Kft.,Hauszmann A. u. 2.,None,Budapest,...,A961232C-8663-E711-812C-E0071B715BA1,76CC7684-50EB-EB11-BACB-000D3A4FFE11,2B145A01-6752-E611-9AE3-78E3B5166060,667ECE50-BFEA-EB11-AE34-000D3AEB14A8,None,None,None,None,N,None
999997,CRACP000009161072,2015-03-31 21:02:08.770,2022-11-12 11:59:41.610,oscar.motsumi@gmail.com,Oscar,Motsumi,Inspired Visions (Pty) Ltd,Mountain View Shopping Complex,Block 5,Gaborone,...,859628E4-2132-E711-80F9-FC15B4283DA0,C07F0F1F-3632-E711-80F8-C4346BAC2970,C77E34BA-AF59-E611-B92A-78E3B5166060,140195F8-E859-E611-B92A-78E3B5166060,None,None,None,None,N,None
999998,CRACP000014627889,2019-08-27 07:36:21.683,2022-11-12 11:56:13.197,luciancsilva@hotmail.com,Lucian,CorrÃƒÂªa da Silva,Serrano Automacao LTDA,None,None,Porto Alegre,...,08C8B9DA-B4A5-E711-8176-E0071B715BC1,6B430312-5044-ED11-BBA1-002248300A66,None,None,None,None,None,None,N,None
999999,CRACP000000822801,2013-02-05 17:29:43.257,2022-11-12 11:56:13.197,godfreymik@msn.com,Mike,Godfrey,University of Hawaii Systems,200 W Kawili St,None,Hilo,...,B7F3FFCC-F088-E711-812F-E0071B715BA1,81C0D84B-A410-ED11-82E4-000D3A5597C8,6A2BC8C0-D7B5-E211-ADD7-78E3B5166060,339B66AF-4811-ED11-A047-000D3AEB14A8,None,None,None,None,N,None

In [3]:

  
  df = query_db(
    """
SELECT DISTINCT TOP (1000000) [SessionVisitorId] 
      ,[mcvisid]
  FROM [Staging].[aem].[RawTraffic]
    """
)
df.to_csv("aemRaw_keyFilters.csv")

df

OperationalError: (pyodbc.OperationalError) ('08S01', '[08S01] [Microsoft][ODBC Driver 17 for SQL Server]The connection is no longer usable because the server response for a previously executed statement was incorrectly formatted. (0) (SQLEndTran)')
(Background on this error at: https://sqlalche.me/e/14/e3q8)