## Setup

In [1]:
# Connect using pyodbc, sqlalchemy, and pandas
import sqlalchemy
import numpy as np
import pandas as pd

server = "sqlsvr-0092-mdp-02.85f8a2f57eaf.database.windows.net"
database = "Staging"
username = "pisrc-inkoo"
password = input("Enter database password: ")
driver = "ODBC Driver 17 for SQL Server"

engine = sqlalchemy.create_engine(
    f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver.replace(' ', '+')}"
)


def query_db(query, params=None):
    print(engine)
    return pd.read_sql(query, engine, params=params)


df = query_db("SELECT @@version;")
print(df[""][0])

Engine(mssql+pyodbc://pisrc-inkoo:***@sqlsvr-0092-mdp-02.85f8a2f57eaf.database.windows.net/Staging?driver=ODBC+Driver+17+for+SQL+Server)
Microsoft SQL Azure (RTM) - 12.0.2000.8
	Sep 30 2022 04:45:23
	Copyright (C) 2022 Microsoft Corporation

## Database information

In [2]:
# Search for database column
column_name = "eloqua"
query_db(
    """
    SELECT
        c.name AS ColumnName,
        t.name AS TableName
    FROM sys.columns c
    JOIN sys.tables t
    ON c.object_id = t.object_id
    WHERE LOWER(c.name) LIKE ?
    ORDER BY
        TableName,
        ColumnName;
    """,
    [f"%{column_name}%"],
)

                ColumnName                   TableName
0          EloquaCompanyId                     Account
1          EloquaContactId                    Activity
2          EloquaContactId             BingeExperience
3          EloquaContactId           CertainAttendance
4          EloquaContactId              CertainCheckIn
5          EloquaContactId           CertainRegistrant
6          EloquaContactId                     Contact
7       ra_blockfromeloqua                     Contact
8   ra_blockfromeloquaname                     Contact
9          EloquaContactId                  Conversica
10         EloquaContactId                DriftChatbot
11     EloquaEventUniqueID       EloquaEventAttendance
12         EloquaContactId         GenericMktgActivity
13         EloquaContactId                 GlobalOptIn
14         EloquaContactId                iCaptureLead
15         EloquaContactId        INXPOEventAttendance
16         EloquaContactId      INXPOEventRegistration
17         EloquaContactId         MSCRMOnlineAllLeads
18        EloquaCampaignID            MSCRMOnlineLeads
19         EloquaContactId                  NonRAevent
20         EloquaContactId                 PathFactory
21         EloquaContactId                  RawTraffic
22              EloquaGUID                  RawTraffic
23         EloquaContactId     RockwellLeadCaptureTool
24         EloquaCompanyId                  stgAccount
25         EloquaContactId          stgBingeExperience
26         EloquaContactId        stgCertainAttendance
27         EloquaContactId           stgCertainCheckIn
28         EloquaContactId        stgCertainRegistrant
29         EloquaContactId                  stgContact
30      ra_blockfromeloqua                  stgContact
31  ra_blockfromeloquaname                  stgContact
32         EloquaContactId               stgConversica
33         EloquaContactId             stgDriftChatbot
34     EloquaEventUniqueID    stgEloquaEventAttendance
35         EloquaContactId      stgGenericMktgActivity
36         EloquaContactId              stgGlobalOptIn
37         EloquaContactId     stgINXPOEventAttendance
38         EloquaContactID   stgINXPOEventRegistration
39         EloquaContactId           stgLeads_iCapture
40        EloquaCampaignID         stgMSCRMOnlineLeads
41         EloquaContactId               stgNonRAevent
42         EloquaContactId              stgPathFactory
43         EloquaContactId  stgRockwellLeadCaptureTool
44         EloquaContactId             stgVidyardVideo
45         EloquaContactId        stgWebFormSubmission
46          eloquaProfiler                        User
47         EloquaContactId                VidyardVideo
48         EloquaContactID           WebFormSubmission

In [3]:
# Most recently modified tables
query_db(
    """
    SELECT TOP 10
        name,
        create_date,
        modify_date,
        type
    FROM sys.tables
    ORDER BY modify_date DESC
    """
)

,name,create_date,modify_date,type
0,RawTraffic,2021-06-11 14:32:58.860,2022-11-11 13:56:29.180,U
1,WebFormSubmission,2022-10-19 18:42:38.200,2022-11-08 20:43:10.377,U
2,stgWebFormSubmission,2021-05-05 14:30:09.817,2022-11-08 20:43:10.330,U
3,stgPathFactory,2021-05-25 21:00:41.980,2022-11-08 20:43:10.293,U
4,stgNonRAevent,2021-05-25 21:00:41.963,2022-11-08 20:43:10.250,U
5,stgLeads_iCapture,2021-05-12 17:39:48.457,2022-11-08 20:43:10.213,U
6,stgINXPOEventRegistration,2021-05-12 17:39:12.860,2022-11-08 20:43:10.177,U
7,stgCertainRegistrant,2021-10-21 19:05:23.473,2022-11-08 20:43:10.143,U
8,stgBingeExperience,2022-10-14 13:05:36.343,2022-11-08 20:43:10.083,U
9,PathFactory,2021-05-25 21:00:41.943,2022-11-08 20:43:10.043,U

In [4]:
# Table indices
table_name = 'Staging.aem.RawTraffic'
query_db(
    """
    SELECT
        i.name,
        COL_NAME(c.object_id, c.column_id)
    FROM
        sys.indexes AS i,
        sys.index_columns AS c
    WHERE i.object_id = c.object_id
        AND i.index_id = c.index_id
        AND i.object_id = OBJECT_ID(?)
    """,
    [table_name]
)

                  name
0      pk_adobeTraffic    SessionVisitorId
1      pk_adobeTraffic  VisitStartDateTime
2      pk_adobeTraffic     VisitPageNumber
3       idx_uploadTime          UploadedAt
4  idx_utmMediumSource          UTM_Medium
5  idx_utmMediumSource          UTM_Source
6  idx_eloquacontactid     EloquaContactId
7  idx_eloquacontactid             mcvisid

## Eloqua Data

In [5]:
query_db(
    """
    SELECT TOP 5
        EloquaContactId,
        DateCreated,
        DateModified,
        EmailAddress,
        FirstName,
        LastName,
        Company,
        ElqAccountLinkage,
        EMEAregion,
        Industry,
        LanguagePreference,
        SalesAPR,
        ConversionSourceOriginal,
        DCRMAccountId,
        MAPCRMAccountId
    FROM elq.Contact
    WHERE DateModified > '2022-02-22';
    """
)

,EloquaContactId,DateCreated,DateModified,EmailAddress,FirstName,LastName,Company,ElqAccountLinkage,EMEAregion,Industry,LanguagePreference,SalesAPR,ConversionSourceOriginal,DCRMAccountId,MAPCRMAccountId
0,CRACP000000000012,2012-03-14 11:42:49.803,2022-08-26 06:18:11.587,cearnshaw@ledger-bennett.co.uk,Chris,Earnshaw,Ledger Bennett,not_linked,UK,OEM,English,None,None,None,None
1,CRACP000000000025,2012-03-27 22:08:11.763,2022-11-01 08:07:34.520,cjl@main-systems.co.uk,Chris,Little,Main Systems,ac8ecc3b-0eab-e711-8134-e0071b715ba1,UK,None,English,None,None,AC8ECC3B-0EAB-E711-8134-E0071B715BA1,3DDF4B52-764F-E611-9AE3-78E3B5166060
2,CRACP000000000026,2012-03-27 22:08:11.763,2022-11-01 08:07:34.520,fabien.roche@thimonnier.fr,Fabien,ROCHE,THIMONNIER,1b368dda-6617-e711-80f5-fc15b428da60,France,Food & Beverage,French,None,Webinar | North American Standards 1/4 | EN,1B368DDA-6617-E711-80F5-FC15B428DA60,4A9D2620-764F-E611-9AE3-78E3B5166060
3,CRACP000000000027,2012-03-27 22:08:11.763,2022-11-01 08:07:34.520,jhk@kk-ventilation.dk,Jan,Kristensen,KK Ventilation A/S,2c59c7be-2032-e711-80f9-fc15b4283da0,Denmark,None,Danish,None,None,2C59C7BE-2032-E711-80F9-FC15B4283DA0,3F83473D-6652-E611-9AE3-78E3B5166060
4,CRACP000000000036,2012-03-27 22:08:11.763,2022-11-01 08:07:34.520,albert.assone@gmail.com,Albert,Assone,Galvano Service,4baa6aec-11ab-e711-8111-e0071b71f9b1,Italy,None,Italian,None,None,4BAA6AEC-11AB-E711-8111-E0071B71F9B1,43B74131-6652-E611-9AE3-78E3B5166060

In [44]:
# elq.Contact table has duplicate entries for some email addresses:
query_db(
    """
    SELECT
        e.EloquaContactId,
        e.EmailAddress,
        e.FirstName,
        e.LastName,
        e.Company,
        e.Industry
    FROM
        elq.Contact AS e,
        (
            SELECT e.EmailAddress
            FROM elq.Contact AS e
            GROUP BY EmailAddress
            HAVING COUNT(EmailAddress) > 1
        ) AS x
    WHERE e.EmailAddress = x.EmailAddress
    ORDER BY e.EmailAddress
    """
)

## Adobe Analytics Data

In [ ]:
# aem.RawTraffic table has >111 million rows, need to be careful with queries
query_db(
    """
    SELECT TOP 5
        SessionVisitorId,
        VisitStartDateTime,
        EventList,
        PageURL,
        PageName,
        External_Id,
        External_Audience,
        External_AudienceSegment,
        EloquaContactId,
        UTM_Source,
        UTM_Medium,
        UTM_Campaign,
        UTM_Content,
        UTM_Term
    FROM aem.RawTraffic
    WHERE VisitStartDateTime > '2022-02-22'
        AND EloquaContactId <> '';
    """
)

,SessionVisitorId,VisitStartDateTime,EventList,PageURL,PageName,External_Id,External_Audience,External_AudienceSegment,EloquaContactId,UTM_Source,UTM_Medium,UTM_Campaign,UTM_Content,UTM_Term
0,5867056734229863082_2480410543252301598,2022-02-22 00:01:01,"279,200,20,100,101,102,103,105,106,108,111,112...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,59389591,Enterprise Business,None,CRACP000000863002,Other,Other,,,
1,5867056734229863082_2480410543252301598,2022-02-22 00:01:01,"201=3864.00,202=103.00,203=64.00,204=4387.00,2...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,59389591,Enterprise Business,None,CRACP000000863002,Other,Other,,,
2,5867056734229863082_2480410543252301598,2022-02-22 00:01:01,"241,142,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,59389591,Enterprise Business,None,CRACP000000863002,Other,Other,,,
3,5867056734229863082_2480410543252301598,2022-02-22 00:01:01,"241,142,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,59389591,Enterprise Business,None,CRACP000000863002,Other,Other,,,
4,5867056734229863082_2480410543252301598,2022-02-22 00:01:01,"241,142,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,59389591,Enterprise Business,None,CRACP000000863002,Other,Other,,,

In [ ]:
# AEM event codes
query_db(
    """
    SELECT *
    FROM aem.InteractionType;"""
)

  Code                          Desc
0  200                    Page Views
1  239                    CTA Clicks
2  182      Email Address Identified
3  277  Gate Content Download Events
4  241              Exit Link Clicks
5  260                  Video Starts
6  263            Video 50% Complete
7  269                File Downloads

In [ ]:
# Check if binge experience data is present
query_db(
    """
    SELECT *
    FROM aem.RawTraffic
    WHERE UploadedAt >= '2022-06-01'
    AND BingeId IS NOT NULL
    """
)

Empty DataFrame
Columns: [SessionVisitorId, VisitStartDateTime, VisitPageNumber, VisitNumber, NewVisit, EventList, ExcludeHit, HitSource, DateTime_UTC, PageURL, PageName, VisitReferrer, VisitReferrerType, VisitorDomain, IPaddress, Language, PageType, ContentType, UTM_Source, UTM_Medium, UTM_Campaign, UTM_Content, UTM_Term, VideoName, FileDownload, FileType, FileCategory, GatedContentURL, GatedContentFormType, GatedContentFormName, External_Id, External_Company, External_Audience, External_AudienceSegment, External_Address, External_City, External_StateProv, External_PostalCode, External_Country, External_Industry, External_SubIndustry, External_SIC, External_Website, External_BusPhone, External_NAICS, EloquaContactId, EloquaGUID, mcvisid, GeoCity, GeoCountry, GeoDMA, GeoRegion, GeoPostalCode, Post_PostalCode, Post_PageName, Post_PageURL, UploadedAt, PDFurl, PDFtitle, PDFpagecount, BingeId, BingeName, BingeCriticalScore, BingeCampaignId, BingeScoredAsset, BingeScoredAssetPath, BingeScoredAssetScore]
Index: []

[0 rows x 67 columns]

In [ ]:
# Check if PDF analytics data is present
query_db(
    """
    SELECT *
    FROM aem.RawTraffic
    WHERE UploadedAt >= '2022-06-01'
    AND PDFurl IS NOT NULL
    """
)

Empty DataFrame
Columns: [SessionVisitorId, VisitStartDateTime, VisitPageNumber, VisitNumber, NewVisit, EventList, ExcludeHit, HitSource, DateTime_UTC, PageURL, PageName, VisitReferrer, VisitReferrerType, VisitorDomain, IPaddress, Language, PageType, ContentType, UTM_Source, UTM_Medium, UTM_Campaign, UTM_Content, UTM_Term, VideoName, FileDownload, FileType, FileCategory, GatedContentURL, GatedContentFormType, GatedContentFormName, External_Id, External_Company, External_Audience, External_AudienceSegment, External_Address, External_City, External_StateProv, External_PostalCode, External_Country, External_Industry, External_SubIndustry, External_SIC, External_Website, External_BusPhone, External_NAICS, EloquaContactId, EloquaGUID, mcvisid, GeoCity, GeoCountry, GeoDMA, GeoRegion, GeoPostalCode, Post_PostalCode, Post_PageName, Post_PageURL, UploadedAt, PDFurl, PDFtitle, PDFpagecount, BingeId, BingeName, BingeCriticalScore, BingeCampaignId, BingeScoredAsset, BingeScoredAssetPath, BingeScoredAssetScore]
Index: []

[0 rows x 67 columns]

## RA Lead Status

In [ ]:
query_db(
    """
    SELECT TOP 5
        emailaddress1,
        createdon,
        ra_leadstage,
        ra_leadstagename,
        statecode,
        statecodename,
        statuscode,
        statuscodename
    FROM crm.Lead;
    """
)

# Leads are entered into crm.Lead table multiple times when status updates
# ra_leadstage does not always seem to agree with ra_...acceptedname and/or ra_...qualifiedname

,emailaddress1,createdon,ra_leadstage,ra_leadstagename,statecode,statecodename,statuscode,statuscodename
0,sustarg@milwaukeeforge.com,2022-03-09 20:00:28,4,Awaiting Sales Acceptance,0,Open,1,New
1,teerapanluengnaruemitchai@thaibev.com,2022-03-09 03:49:23,2,Awaiting Tele Acceptance,2,Disqualified,953810009,Does not meet campaign criteria
2,tim.parks@whitepath.com,2022-03-09 19:31:32,5,Awaiting Sales Qualification,0,Open,1,New
3,sherman.wagner@silganpfc.com,2022-03-09 21:04:09,4,Awaiting Sales Acceptance,0,Open,1,New
4,miguel.chavez2@sbdinc.com,2022-03-09 19:35:53,4,Awaiting Sales Acceptance,0,Open,1,New

In [ ]:
# Get only the most advanced status
query_db(
    """
    SELECT TOP 5
        emailaddress1,
        MAX(ra_leadstage) as ra_leadstage
    FROM crm.Lead
    WHERE emailaddress1 <> ''
    GROUP BY emailaddress1;
    """
)

               emailaddress1  ra_leadstage
0          PNPARIK@GMAIL.COM             5
1       GTHACKER@HOTMAIL.COM             5
2  dragan.mitic@michelin.com             5
3  marco.dutschke@alfatec.de             4
4    apfeifer@c-controls.com             7

In [ ]:
# ra_leadstage possible values
query_db(
    """
    SELECT DISTINCT
        ra_leadstage,
        ra_leadstagename
    FROM crm.Lead
    ORDER BY ra_leadstage;
    """
)

   ra_leadstage              ra_leadstagename
0           NaN                          None
1           1.0                    Unassigned
2           2.0      Awaiting Tele Acceptance
3           3.0   Awaiting Tele Qualification
4           4.0     Awaiting Sales Acceptance
5           5.0  Awaiting Sales Qualification
6           6.0              Distributor Lead
7           7.0                     Qualified
8           8.0                 External Lead

In [ ]:
query_db(
    """
    SELECT DISTINCT
        statecode,
        statecodename
    FROM crm.Lead
    ORDER BY statecode;
    """
)

   statecode statecodename
0          0          Open
1          1     Qualified
2          2  Disqualified

In [ ]:
query_db(
    """
    SELECT DISTINCT
        statuscode,
        statuscodename
    FROM crm.Lead
    ORDER BY statuscode;
    """
)

    statuscode                            statuscodename
0            1                                       New
1            2                                 Contacted
2            3                                 Qualified
3            4          Not buying or influence location
4            5                      Credit hold or watch
5            6                        Not Decision Maker
6            7                               No Interest
7    953810000                            No RA solution
8    953810001                   Selling barrier to high
9    953810002             Competitor/Non RA distributor
10   953810003  Unable to make contact (via phone,email)
11   953810004                    Unable to make contact
12   953810005                   Bad Contact Information
13   953810006                              Max Attempts
14   953810007                       Not Buying Location
15   953810008                  Assigned to Distribution
16   953810009           Does not meet campaign criteria
17   953810010       Insufficient information to contact
18   953810011                Already Active Opportunity
19   953810012                                      None
20   953810013           Does not meet campaign criteria
21   953810014                            Duplicate Lead
22   953810015       Insufficient information to contact
23   953810016                       No buying intention
24   953810017                         No viable contact
25   953810018                         Unable to Process
26   953810019            Admin Only: Abandoned by Sales
27   953810020                       External Processing

In [ ]:
# crm.AccountExtensionBase has more Rockwell-specific information
query_db(
    """
    SELECT TOP 5
        accountid,
        ra_issalesleadid,
        ra_overallrelationship,
        ra_overallrelationshipname,
        ra_relationshipstatus,
        ra_relationshipstatusname
    FROM crm.AccountExtensionBase
    WHERE ra_overallrelationship <> ''
        AND ra_relationshipstatus <> '';
    """
)

,accountid,ra_issalesleadid,ra_overallrelationship,ra_overallrelationshipname,ra_relationshipstatus,ra_relationshipstatusname
0,DDDCF170-12AB-E711-8111-E0071B71F9B1,None,953810001,"Moderate to good - some issues exist, but well...",953810000,Buying
1,547B499C-0FAB-E711-8111-E0071B71F9B1,None,953810000,Good to excellent - no immediate issues,953810001,Development
2,00F91C47-13AB-E711-8111-E0071B71F9B1,None,953810002,Poor - immediate issues exist where business i...,953810000,Buying
3,2BE40CA8-AF3F-EB11-A813-000D3A8DB669,None,953810000,Good to excellent - no immediate issues,953810000,Buying
4,7CA53587-AFAE-E911-A962-000D3A3AD193,A6197F25-C975-E611-80E2-C4346BACE0A4,953810000,Good to excellent - no immediate issues,953810000,Buying

## PathFactory Data

In [ ]:
query_db(
    """
    SELECT TOP 5
        EloquaContactId,
        AssetsViewed,
        ContentJourney,
        EngagementScore,
        EngagementTime,
        ExperienceLookBookId,
        ExperienceName,
        LastViewedContentSourceURL,
        LastViewedContentTitle,
        EventTime,
        SessionStartTimeUTC,
        SessionEndTimeUTC
    FROM elq.PathFactory
    WHERE EloquaContactId <> '';
    """
)

,EloquaContactId,AssetsViewed,ContentJourney,EngagementScore,EngagementTime,ExperienceLookBookId,ExperienceName,LastViewedContentSourceURL,LastViewedContentTitle,EventTime,SessionStartTimeUTC,SessionEndTimeUTC
0,CRACP000012402203,1,[manuf-analytics-workbook],0,1,D96FDV,FactoryTalk Analytics: Where Information Tran...,https://app.cdn.lookbookhq.com/lbhq-production...,Get Started With Information Solutions Workbook,2019-04-08 17:32:12,2019-04-08 21:32:11,2019-04-08 21:32:12
1,CRACP000012866788,2,[introducing-ft-innov][ISuite-combined-analyti...,4,79,qmUZE0,InnovationSuite,https://embed.vidyard.com/share/Hd7dh6uxE15Asx...,Explore advanced analytics,2019-04-08 17:49:12,2019-04-08 21:47:53,2019-04-08 21:49:12
2,CRACP000000111436,2,[get_started_mes_metals][journeyvideo],0,46,FJMVa7,MES Metals (T1 clone),http://embed.vidyard.com/share/-mxZ8iWeovNJe5l...,The Journey Toward the Connected Enterprise,2019-04-08 17:53:27,2019-04-08 21:52:41,2019-04-08 21:53:27
3,CRACP000000111436,1,[introducing-ft-innov],0,15,qmUZE0,InnovationSuite,https://embed.vidyard.com/share/iwtGTkozbYVfyH...,Introducing FactoryTalk InnovationSuite powere...,2019-04-08 17:55:51,2019-04-08 21:55:36,2019-04-08 21:55:51
4,CRACP000000109334,7,[analytics-that-matter][factorytalk-analytics-...,9,309,dzU9dW,FactoryTalk Analytics,https://app.cdn.lookbookhq.com/lbhq-production...,Get Started With Information Solutions Workbook,2019-04-08 17:57:05,2019-04-08 21:46:38,2019-04-08 21:57:05

## Joins

In [ ]:
query_db(
    """
    SELECT
        e.EmailAddress,
        a.VisitStartDateTime,
        a.EventList,
        a.PageURL,
        a.PageName,
        e.FirstName,
        e.LastName,
        e.Company
    FROM
        aem.RawTraffic as a,
        elq.Contact as e
    WHERE a.VisitStartDateTime > '2022-01-01'
        AND e.EmailAddress = 'inkoo@pisrc.com'
        AND a.EloquaContactId = e.EloquaContactId;
    """
)

,EmailAddress,VisitStartDateTime,EventList,PageURL,PageName,FirstName,LastName,Company
0,inkoo@pisrc.com,2022-02-03 23:54:03,"182,183,185,186,187,188,189,190,191,192,193,50...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
1,inkoo@pisrc.com,2022-02-03 23:54:03,"279,200,20,100,101,105,108,109,110,111,112,114...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
2,inkoo@pisrc.com,2022-02-03 23:54:03,"201=1752.00,202=9.00,203=1.00,204=1774.00,205=...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
3,inkoo@pisrc.com,2022-02-04 20:11:04,"279,200,20,100,101,105,108,111,112,114,119,120...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
4,inkoo@pisrc.com,2022-02-04 20:11:04,"201=2427.00,202=87.00,203=65.00,204=2980.00,20...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
...,...,...,...,...,...,...,...,...
154,inkoo@pisrc.com,2022-02-10 17:13:05,"201=2541.00,202=132.00,203=131.00,204=2797.00,...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
155,inkoo@pisrc.com,2022-02-10 17:13:05,"279,200,20,100,101,105,108,109,110,111,112,114...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
156,inkoo@pisrc.com,2022-02-10 17:13:05,"201=2777.00,202=98.00,203=84.00,204=3144.00,20...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
157,inkoo@pisrc.com,2022-02-10 17:13:05,"279,200,20,100,101,105,108,111,112,114,119,120...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC
158,inkoo@pisrc.com,2022-02-10 17:13:05,"201=3690.00,202=306.00,203=172.00,204=3892.00,...",https://www.rockwellautomation.com/en-us.html,rockwellautomation:homepage,In Koo,Kim,PiSrc LLC

In [ ]:
query_db(
    """
    SELECT COUNT(DISTINCT a.EloquaContactId)
    FROM
        aem.RawTraffic as a,
        elq.Contact as e,
        crm.Lead as l
    WHERE a.VisitStartDateTime > '2022-02-01'
        AND a.EloquaContactId = e.EloquaContactId
        AND e.EmailAddress = l.emailaddress1;
    """
)

In [ ]:
# WIP join
query_db(
    """
    SELECT TOP 5
        e.EmailAddress,
        a.VisitStartDateTime,
        a.EventList,
        a.PageURL,
        a.PageName,
        e.FirstName,
        e.LastName,
        e.Company,
        l.ra_leadstage,
        l.ra_leadstagename,
        l.ra_teleacceptedname,
        l.ra_telequalifiedname,
        l.ra_salesacceptedname,
        l.ra_salesqualifiedname,
        p.AssetsViewed,
        p.EngagementScore,
        p.EngagementTime,
        p.ExperienceName,
        p.LastViewedContentSourceURL
    FROM
        aem.RawTraffic as a,
        elq.Contact as e,
        crm.Lead as l,
        elq.PathFactory as p
    WHERE a.VisitStartDateTime > '2022-02-01'
        AND a.EloquaContactId = e.EloquaContactId
        AND e.EmailAddress = l.emailaddress1
        AND a.EloquaContactId = p.EloquaContactId;
    """
)

,EmailAddress,VisitStartDateTime,EventList,PageURL,PageName,FirstName,LastName,Company,ra_leadstage,ra_leadstagename,ra_teleacceptedname,ra_telequalifiedname,ra_salesacceptedname,ra_salesqualifiedname,AssetsViewed,EngagementScore,EngagementTime,ExperienceName,LastViewedContentSourceURL
0,dmeyer@cimarex.com,2022-02-01 00:13:42,"239,139,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
1,dmeyer@cimarex.com,2022-02-01 00:13:42,"279,200,20,100,101,102,103,104,105,108,109,110...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
2,dmeyer@cimarex.com,2022-02-01 00:13:42,"239,139,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
3,dmeyer@cimarex.com,2022-02-01 00:13:42,"201=1605.00,202=65.00,203=60.00,204=1837.00,20...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
4,dmeyer@cimarex.com,2022-02-01 00:13:42,"279,200,20,100,101,102,103,104,105,108,109,110...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...

In [ ]:
query_db(
    """
    SELECT COUNT(DISTINCT e.EmailAddress)
    FROM
        aem.RawTraffic as a,
        elq.Contact as e,
        crm.Lead as l,
        elq.PathFactory as p
    WHERE a.VisitStartDateTime > '2022-02-01'
        AND a.EloquaContactId = e.EloquaContactId
        AND e.EmailAddress = l.emailaddress1
        AND a.EloquaContactId = p.EloquaContactId;
    """
)

0  1021

In [ ]:
df = query_db(
    """
    SELECT
        e.EmailAddress,
        a.VisitStartDateTime,
        a.EventList,
        a.PageURL,
        a.PageName,
        e.FirstName,
        e.LastName,
        e.Company,
        l.ra_leadstage,
        l.ra_leadstagename,
        l.ra_teleacceptedname,
        l.ra_telequalifiedname,
        l.ra_salesacceptedname,
        l.ra_salesqualifiedname,
        p.AssetsViewed,
        p.EngagementScore,
        p.EngagementTime,
        p.ExperienceName,
        p.LastViewedContentSourceURL
    FROM
        aem.RawTraffic as a,
        elq.Contact as e,
        crm.Lead as l,
        elq.PathFactory as p
    WHERE a.VisitStartDateTime > '2022-02-10'
        AND a.EloquaContactId = e.EloquaContactId
        AND e.EmailAddress = l.emailaddress1
        AND a.EloquaContactId = p.EloquaContactId
        AND e.EmailAddress = 'dmeyer@cimarex.com';
    """
)
df.to_csv("export.csv")
df

,EmailAddress,VisitStartDateTime,EventList,PageURL,PageName,FirstName,LastName,Company,ra_leadstage,ra_leadstagename,ra_teleacceptedname,ra_telequalifiedname,ra_salesacceptedname,ra_salesqualifiedname,AssetsViewed,EngagementScore,EngagementTime,ExperienceName,LastViewedContentSourceURL
0,dmeyer@cimarex.com,2022-02-01 00:13:42,"279,200,20,100,101,102,103,104,105,108,109,110...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
1,dmeyer@cimarex.com,2022-02-01 00:13:42,"279,200,20,100,101,102,103,104,105,108,109,110...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
2,dmeyer@cimarex.com,2022-02-01 00:13:42,"201=1605.00,202=65.00,203=60.00,204=1837.00,20...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
3,dmeyer@cimarex.com,2022-02-01 00:13:42,"201=1605.00,202=65.00,203=60.00,204=1837.00,20...",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
4,dmeyer@cimarex.com,2022-02-01 00:13:42,"239,139,500,501,502,503,113",https://www.rockwellautomation.com/en-us/produ...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,dmeyer@cimarex.com,2022-02-22 02:34:11,"279,200,20,100,101,102,103,104,105,108,109,110...",https://www.rockwellautomation.com/en-us/suppo...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
320,dmeyer@cimarex.com,2022-02-22 02:34:11,"500,501,502,503,113",https://www.rockwellautomation.com/en-us/suppo...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
321,dmeyer@cimarex.com,2022-02-22 02:34:11,"500,501,502,503,113",https://www.rockwellautomation.com/en-us/suppo...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
322,dmeyer@cimarex.com,2022-02-22 02:34:11,"269,168,169,170,500,501,502,503,113",https://www.rockwellautomation.com/en-us/suppo...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,4,Awaiting Sales Acceptance,Yes,No,None,None,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...
323,dmeyer@cimarex.com,2022-02-22 02:34:11,"269,168,169,170,500,501,502,503,113",https://www.rockwellautomation.com/en-us/suppo...,rockwellautomation:homepage,David,Meyer,Cimrex Energy,5,Awaiting Sales Qualification,None,None,None,Yes,1,0,6,IIoT,https://cdn.pathfactory.com/assets/10724/conte...

In [ ]:
df = query_db(
    """
    SELECT
        e.EmailAddress,
        e.FirstName,
        e.LastName,
        e.Company,
        l.ra_leadstage,
        p.AssetsViewed,
        p.EngagementScore,
        p.EngagementTime,
        p.ExperienceName,
        p.LastViewedContentSourceURL,
        p.SessionStartTimeUTC
    FROM
        elq.Contact as e,
        (   
            SELECT emailaddress1, MAX(ra_leadstage) as ra_leadstage
            FROM crm.Lead
            GROUP BY emailaddress1
        ) as l,
        elq.PathFactory as p
    WHERE e.EmailAddress = l.emailaddress1
        AND e.EloquaContactId = p.EloquaContactId;
    """
)
df.to_csv("pathfactory_export.csv")
df

,EmailAddress,FirstName,LastName,Company,ra_leadstage,AssetsViewed,EngagementScore,EngagementTime,ExperienceName,LastViewedContentSourceURL,SessionStartTimeUTC
0,gennaro.carbone@incontrol.it,Gennaro,Carbone,in.Control s.r.l.,4,1,0,4,Scalable MES IoTW,https://embed.vidyard.com/share/iwtGTkozbYVfyH...,2019-06-24 16:49:24
1,barnardm@capegate.co.za,Mac,Barnard,Cape Gate Pty Ltd,5,1,0,3,InnovationSuite,https://embed.vidyard.com/share/YeBeHU51o4cE4q...,2019-05-28 15:57:57
2,barnardm@capegate.co.za,Mac,Barnard,Cape Gate Pty Ltd,5,1,1,28,InnovationSuite,https://embed.vidyard.com/share/YeBeHU51o4cE4q...,2019-05-28 14:12:58
3,barnardm@capegate.co.za,Mac,Barnard,Cape Gate Pty Ltd,5,1,1,1591,InnovationSuite,https://embed.vidyard.com/share/YeBeHU51o4cE4q...,2019-05-28 12:04:42
4,dbunting@anglianwater.co.uk,Dan,Bunting,Anglian Water Services Ltd,5,5,10,540,InnovationSuite,https://www.youtube.com/watch?v=wwmmgAw8ZAE,2020-02-26 02:37:01
...,...,...,...,...,...,...,...,...,...,...,...
10822,marosal@Microsoft.com,marcelo,rosalen,Microsoft Corporation,3,1,5,75,Industrial Analytics,https://cdn.pathfactory.com/assets/preprocesse...,2021-12-08 20:02:53
10823,alexandre@gwfsi.com.br,Alexandre,Dos Santos Ferreira,GWF SISTEMAS INDUSTRIAIS,4,2,7,641,IIoT,https://cdn.pathfactory.com/assets/10724/conte...,2021-12-09 03:11:20
10824,nishant.singh@faurecia.com,Nishant,Singh,Faurecia Automotive,4,1,1,37,Digital Transformation,https://www.gartner.com/doc/reprints?id=1-25WL...,2021-12-10 16:14:59
10825,adriana.sukmanaputra@daimler.com,Adriana,Sukmanaputra,PT. Daimler Commercial Vehicles Manufacturing ...,2,1,0,0,Industrial Analytics,https://cdn.pathfactory.com/assets/preprocesse...,2022-02-04 11:44:19
10826,adriana.sukmanaputra@daimler.com,Adriana,Sukmanaputra,PT. Daimler Commercial Vehicles Manufacturing ...,2,1,5,95,Industrial Analytics,https://cdn.pathfactory.com/assets/preprocesse...,2022-02-04 05:55:35

In [43]:
!python -V

Python 3.9.5